@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Semi+Expanded:wght@500&family=Mitr&family=Source+Code+Pro:wght@400;500&display=swap');

.hithere{
    padding-top: 3%;
    font-family: 'Source Code Pro', monospace;
    color: #C1E1C1;
}

.im{
    font-family: 'Encode Sans Semi Expanded', sans-serif;
    font-family: 'Mitr', sans-serif;
    font-family: 'Source Code Pro', monospace;
    font-size: 3em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 200px;
    color: #AF7063;
}
.me{
    border-radius: 50%;
}
.intro{
    font-family: 'Source Code Pro', monospace;
  
}

.logos {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

details{
    cursor: pointer;
}

.alert {
    color: #C2BEBE;
    background-color: #634545;
    border-color: transparent;
    font-family: 'Source Code Pro', monospace;
}

.close {
    background-color: #171010;
    color: #AB5050;
    font-family: 'Encode Sans Semi Expanded', sans-serif;
    font-family: 'Mitr', sans-serif;
    font-family: 'Source Code Pro', monospace;
}

.company {
    color: #5057AB;
}

.company:hover {
    color: #169095;
}

.socials {
    background-color: transparent;
    border: 1px solid #33FFBD;
    border-radius: 50%;
    color: #AF7063;
    display: inline-block;
    font-size: 14px;
    height: 40px;
    line-height: 2.85714;
    position: relative;
    text-align: center;
    width: 40px;
}

.contactme {
    font-family: 'Source Code Pro', monospace;
    font-size: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    color: #AF7063;
}