body {
    background-color: #1D1C1A;
}

hr {
    color: #33FFBD;
}

.modal-dialog {
    max-width: 1000px;
}

.modal-dialog .modal-header {
    background-color: #171010;
    border-bottom: 0px;
}

.modal-title{
    color: #AB5050;
}

.modal-body {
    background-color: #412020;
}

.modal-footer {
    background-color: #171010;
    border-top: transparent;
}
